# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
/node_modules
/npm-debug.log
/bower.json
/component.json
/bower_components
*.rar
*.zip
